* {
    padding: 0;
    margin: 0;
}
section {
    position: absolute;
    color: white;
    padding: 1% 5% 1% 1%;
    margin:  25% 85% 1% 0
}
h1 {
    position:absolute;
    left: 50px;
    top: 55px;
    line-height: 80px;
}
h4 {
    position:absolute;
    left: 65px;
    top: 85px;
    line-height: 80px;
}

header {
    position: absolute;
    top: 150px;
    background: #0088ff;
    height: 50px;
    width: 100%;
}
header li{
    display:inline;
    margin-right: 4vw;
    width: 100%;
    color: white;
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
header ul{
    position: absolute;
    left: 10vw;
    top: -15px;
    line-height: 80px;
}
.cat {
    position: relative;
    left: 5%;
    background-color: #0088ff;
    margin: 1px 10px 1px 1px;
    border: 10px #0088ff solid;
    transform: translate(0);
}

section a {
    color: white;
    text-decoration: none;
}
section a:hover {
    text-decoration: underline;
}


